* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.port__container {
  background: white;
  position: fixed;
  display: flex;
  height: 500px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.port__container .half {
  width: 100%;
  height: 100%;
}

.port__container .right {
  background: #eaeae9;
  overflow: hidden;
  position: relative;
}

.port__container .right .slide {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.port__container .right .s1 {
  background: url(https://40.media.tumblr.com/d02e05044230057d15370c6ed3931bec/tumblr_nqi8l5jxwr1uzrl54o1_500.jpg) center/cover;
  z-index: 20;
}

.port__container .right .s2 {
  background: url(https://40.media.tumblr.com/d02e05044230057d15370c6ed3931bec/tumblr_nqi8l5jxwr1uzrl54o1_500.jpg) center/cover;
}

.port__container .right .s3 {
  background: url(https://s-media-cache-ak0.pinimg.com/736x/e0/42/c1/e042c17835ae71c25bbf2510d0b31bb5.jpg) center/cover;
}

.port__container .right .s4 {
  background: url(https://static.tumblr.com/65162db388baaea011ad9b04912c0f58/ivguq93/wsGnlmsac/tumblr_static_91nsinx32eosw4kk8cg08s8o0_2048_v2.jpg) center/cover;
}

.port__container .right .s5 {
  background: url(http://s8.favim.com/orig/150605/forest-green-mystery-nature-Favim.com-2793315.png) center/cover;
}

.port__container .right .s6 {
  background: url(http://s8.favim.com/orig/150605/forest-green-mystery-nature-Favim.com-2793315.png) center/cover;
}

.port__container .left {
  padding-right: 50px;
  padding-left: 30px;
}

.port__container .left .menu {
  cursor: pointer;
  padding: 35px 0 0 0;
}

.port__container .left .menu img,
.port__container .left .menu p {
  display: inline-block;
  vertical-align: top;
}

.port__container .left .menu img {
  height: 20px;
  margin-top: 1.7px;
}

.port__container .left .menu p {
  font-size: 11px;
  margin-top: 4px;
  letter-spacing: 2px;
}

.port__container .left .flex {
  display: flex;
  height: 77%;
  width: 100%;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

.port__container .left .flex .cover {
  background: white;
  top: 0;
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 50;
}

.port__container .left .flex .desc {
  position: absolute;
  bottom: 20px;
  width: 100%;
  background: white;
  margin-bottom: 40px;
}


.port__container .left .flex .desc .portfolio__title {
  font-weight: 900;
  background: white;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.port__container .left .flex .desc p {
  font-size: var(--font-portfolio);
  margin: 40px 0 0;
  line-height: 20px;
}


@media screen and (max-width: 1711px) {
  .port__container .left .flex .desc {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1668px) {
  .port__container .left .flex .desc h4 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1650px) {
  .port__container .left .flex .desc h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 1575px) {
  .port__container .left .flex .desc {
    margin-top: 0;
    margin-bottom: 0;
  }

  .port__container .left .flex {
    height: 75%;
  }

  .port__container .left .flex .desc p {
    margin: 30px 0;
  }
}

@media screen and (max-width: 1478px) {
  .port__container .left .flex {
    height: 70%;
  }
}

@media screen and (max-width: 1454px) {
  .port__container .left .flex {
    height: 70%;
  }
}

@media screen and (max-width: 1237px) {
  .port__container .left .flex .desc h4 {
    padding-top: 60px;
  }
}

@media screen and (max-width: 1230px) {
  .container .left .flex .desc h1 {
    letter-spacing: 10px;
  }

  .port__container .left .flex .desc h4 {
    padding-top: 20px;
  }
}

@media screen and (max-width: 1138px) {
  .port__container .left .flex .desc {
    margin-top: 0px;
  }
}

@media screen and (max-width: 1100px) {
  .port__container .left {
    padding-right: 30px;
    padding-left: 30px;
    text-align: justify;
  }

  .port__container .left .flex .desc .portfolio__title {
    font-size: 35px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 1093px) {
  .port__container .left .flex .desc {
    margin-top: -10px;
  }
}


@media screen and (max-width: 1060px) {
  .port__container .half {
    height: 80%;
  }
}

@media screen and (max-width: 1040px) {
  .port__container .half {
    height: 55%;
  }
}

@media screen and (max-width: 1040px) {
  .port__container .left .flex .desc {
    margin-top: -20px;
  }

  .port__container .half {
    height: 55%;
  }

}

@media screen and (max-width: 1017px) {
  .port__container .left .flex .desc p {
    margin: 30px 0 0;
  }

  .port__container .left .flex {
    height: 65%;
  }

  .portfolio__button {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1003px) {
  .port__container .left .flex .desc .portfolio__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 1060px) {
  .port__container .half {
    height: 100%;
  }
}

@media screen and (max-width: 977px) {
  .port__container .left .flex .desc h1 {
    font-size: 35px;
    letter-spacing: 5px;
  }

  .port__container .left .flex .desc h4 {
    padding-top: 22px;
  }

  .port__container .left {
    padding: 20px;
  }
}


@media screen and (max-width: 977px) {
  .port__container .left .flex .desc p {
    margin: 20px 0;
  }

  .port__container .left .flex .desc h3 {
    padding-top: 10px;
  }

  .port__container .left .flex .desc h1 {
    padding-top: 0px;
  }

  .port__container .left .menu {
    padding: 0px;
  }

  .port__container .left .flex {
    height: 70%;
  }
}

@media screen and (max-width: 854px) {
  .port__container .left .flex .desc .portfolio__title {
    font-size: 27px;
  }

  .port__container .left .flex .desc p {
    margin: 20px 0 30px;
  }
}

@media screen and (max-width: 800px) {
  .port__container {
    flex-direction: column-reverse;
    height: 500px;
  }

  .port__container .half {
    width: 100%;
  }

  .port__container .left {
      padding: 20px;
  }

  .port__container .left .flex {
    justify-content: flex-start;
    height: 80%;
  }

  .port__container .left .flex .desc {
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0;
  }

  .port__container .left .flex .cover {
    display: none;
  }

  .port__container .right {
    height: 80%;
  }

  .port__container .left .flex .desc p {
    margin: 20px 0 30px;
  }

  .port__container .left .flex .desc h4 {
    padding-top: 0;
  }

  .portfolio__subtitle {
    font-size: var(--standard-font-size);
  }

   .port__container .left .menu {
    padding-bottom: 15px;
   }
}


/*===== PORTFOLIO =====*/

/* .portfolio__hero-parallax .portfolio__hero-title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.portfolio__hero-parallax .portfolio__hero-title .block {
  width: 0%;
  height: inherit;
  background: var(--first-color-light);
  position: absolute;
  animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
  display: flex;
  height: 50px;
}

.portfolio__hero-parallax h2 {
  color: var(--first-color-light);
  font-size: 4rem;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}

.portfolio__hero-parallax .portfolio__hero-sub-title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.portfolio__hero-parallax .portfolio__hero-sub-title .block {
  width: 0%;
  height: inherit;
  color: var(--first-color-light);
  position: absolute;
  animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
  animation-delay: 2s;
  display: flex;
  height: 30px;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 10;
  }
} */

.portfolio__nav {
  text-align: center;
  margin-bottom: var(--mb-3);
}

.portfolio__item {
  margin: 0 var(--mb-2);
  cursor: pointer;
}

.portfolio__content {
  background-color: #FFF;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(174, 190, 205, 0.3);
}

.portfolio__content:hover {
  box-shadow: 0 6px 8px rgba(174, 190, 205, 0.4);
}

.portfolio__content:hover .portfolio__img {
  transform: scale(1.02);
}

.portfolio__img {
  /* width: 100%; */
  transition: .4s;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio__data {
  padding: .5rem;
}

.portfolio__desc {
  font-size: var(--semi-normal-font-size);
  font-weight: var(--font-light);
  color: var(--first-color-dark);
}

.portfolio__title {
  font-family: var(--body-font);
  font-size: var(--regular-font-size);
  color: var(--first-color-dark);
  text-transform: uppercase;
  line-height: 44px;
}

.portfolio__subtitle {
  font-size: var(--secondary-font-size);
  color: var(--first-color-dark);
  text-transform: uppercase;
  line-height: 22px;
}

.portfolio__button a {
  cursor: pointer;
  text-decoration: none;
  font-family: var(--secondary-font);
  letter-spacing: 0.4px;
  font-weight: var(--font-medium);
  border: 1px solid #010101;
  padding: 5px 30px;
  font-size: var(--cta-font-size);
  color: var(--first-color-dark);
}

.portfolio__button a:hover {
  background-color: var(--first-color-dark);
  color: var(--first-color-light);
}


.active-portfolio {
  color: var(--first-color-lighten);
  /* font-weight: var(--font-semi-bold); */
}
