* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.port__container {
  background: white;
  position: fixed;
  display: flex;
  height: 500px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.port__container .half {
  width: 100%;
  height: 100%;
}

.port__container .right {
  background: #eaeae9;
  overflow: hidden;
  position: relative;
}

.port__container .right .slide {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.port__container .right .s1 {
  background: url(../img/rsp.jpg) center/cover;
  z-index: 20;
}

.port__container .right .s2 {
  background: url(../img/AKM.jpg) center/cover;
}

.port__container .right .s3 {
  background: url(../img/Pawesome.jpg) center/cover;
}

.port__container .right .s4 {
  background: url(../img/mc+a.jpg) center/cover;
}

.port__container .right .s5 {
  background: url(../img/FRB.jpg) center/cover;
}

.port__container .right .s6 {
  background: url(../img/HF.jpg) center/cover;
}

.port__container .left {
  padding-right: 50px;
  padding-left: 30px;
}

.port__container .left .menu {
  cursor: pointer;
  padding: 35px 0 0 0;
}

.port__container .left .menu img,
.port__container .left .menu p {
  display: inline-block;
  vertical-align: top;
}

.port__container .left .menu img {
  height: 20px;
  margin-top: 1.7px;
}

.port__container .left .menu p {
  font-size: 11px;
  margin-top: 4px;
  letter-spacing: 2px;
}

.port__container .left .flex {
  display: flex;
  height: 77%;
  width: 100%;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

.port__container .left .flex .cover {
  background: white;
  top: 0;
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 50;
}

.port__container .left .flex .desc {
  position: absolute;
  bottom: 20px;
  width: 100%;
  background: white;
  margin-bottom: 40px;
}


.port__container .left .flex .desc .portfolio__title {
  font-weight: 900;
  background: white;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.port__container .left .flex .desc p {
  font-size: var(--standard-font-size);
  margin: 40px 0 0;
  line-height: 20px;
}


@media screen and (max-width: 1711px) {
  .port__container .left .flex .desc {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1668px) {
  .port__container .left .flex .desc h4 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1650px) {
  .port__container .left .flex .desc h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 1575px) {
  .port__container .left .flex .desc {
    margin-top: 0;
    margin-bottom: 0;
  }

  .port__container .left .flex {
    height: 75%;
  }

  .port__container .left .flex .desc p {
    margin: 30px 0;
  }
}

@media screen and (max-width: 1478px) {
  .port__container .left .flex {
    height: 70%;
  }
}

@media screen and (max-width: 1454px) {
  .port__container .left .flex {
    height: 70%;
  }
}

@media screen and (max-width: 1237px) {
  .port__container .left .flex .desc h4 {
    padding-top: 60px;
  }
}

@media screen and (max-width: 1230px) {
  .container .left .flex .desc h1 {
    letter-spacing: 10px;
  }

  .port__container .left .flex .desc h4 {
    padding-top: 20px;
  }
}

@media screen and (max-width: 1138px) {
  .port__container .left .flex .desc {
    margin-top: 0px;
  }
}

@media screen and (max-width: 1100px) {
  .port__container .left {
    padding-right: 30px;
    padding-left: 30px;
    text-align: justify;
  }

  .port__container .left .flex .desc .portfolio__title {
    font-size: 35px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 1093px) {
  .port__container .left .flex .desc {
    margin-top: -10px;
  }
}


@media screen and (max-width: 1060px) {
  .port__container .half {
    height: 80%;
  }
}

@media screen and (max-width: 1040px) {
  .port__container .half {
    height: 55%;
  }
}

@media screen and (max-width: 1040px) {
  .port__container .left .flex .desc {
    margin-top: -20px;
  }

  .port__container .half {
    height: 55%;
  }

}

@media screen and (max-width: 1017px) {
  .port__container .left .flex .desc p {
    margin: 30px 0 0;
  }

  .port__container .left .flex {
    height: 65%;
  }

  .portfolio__button {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1003px) {
  .port__container .left .flex .desc .portfolio__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 1060px) {
  .port__container .half {
    height: 100%;
  }
}

@media screen and (max-width: 977px) {
  .port__container .left .flex .desc h1 {
    font-size: 35px;
    letter-spacing: 5px;
  }

  .port__container .left .flex .desc h4 {
    padding-top: 22px;
  }

  .port__container .left {
    padding: 20px;
  }
}


@media screen and (max-width: 977px) {
  .port__container .left .flex .desc p {
    margin: 20px 0;
  }

  .port__container .left .flex .desc h3 {
    padding-top: 10px;
  }

  .port__container .left .flex .desc h1 {
    padding-top: 0px;
  }

  .port__container .left .menu {
    padding: 0px;
  }

  .port__container .left .flex {
    height: 70%;
  }
}

@media screen and (max-width: 854px) {
  .port__container .left .flex .desc .portfolio__title {
    font-size: 27px;
  }

  .port__container .left .flex .desc p {
    margin: 20px 0 30px;
  }
}

@media screen and (max-width: 800px) {
  .portfolio__title {
    font-size: 35px;
  }

  .port__container {
    flex-direction: column-reverse;
    height: 500px;
  }

  .port__container .half {
    width: 100%;
  }

  .port__container .left {
      padding: 20px;
  }

  .port__container .left .flex {
    justify-content: flex-start;
    height: 80%;
  }

  .port__container .left .flex .desc {
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0;
  }

  .port__container .left .flex .cover {
    display: none;
  }

  .port__container .right {
    height: 80%;
  }

  .port__container .left .flex .desc p {
    margin: 20px 0 30px;
  }

  .port__container .left .flex .desc h4 {
    padding-top: 0;
  }

   .port__container .left .menu {
     padding-bottom: 15px;
   }
}

@media screen and (max-width: 579px) {
   .port__container .left .flex .desc p {
      margin: 0 0 30px;
   }
   .portfolio__title {
      margin-bottom: 30px;
    }
}

@media screen and (max-width: 470px) {
   .port__container .left .flex .desc p {
      margin: 10px 0 0;
   }
}

@media screen and (max-width: 420px) {
    .portfolio__title {
      margin-bottom: 15px;
    }
    .port__container .left .flex .desc p  {
      font-size: var(--mobile-font-size);
      margin: 20px 0 0;
    }
    .port__container .left .flex .desc .portfolio__title {
      font-size: 25px;
   }
}

@media screen and (max-width: 500px) {
    .port__container .left .flex .desc  {
        z-index: 0 !important;
    }
}

@media screen and (max-width: 393px) {
   .port__container .left .flex .desc .portfolio__title {
     font-size: 22px;
   }
}

@media screen and (max-width: 357px) {
    .port__container .left .flex .desc .portfolio__title {
        font-size: 20px;
    }
    .portfolio__title {
      margin-bottom: 10px;
    }
}

@media screen and (max-width: 334px) {
    .port__container .left .menu {
        padding-bottom: 10px;
    }
    .port__container .left {
        padding: 20px 10px;
    }
}

@media screen and (max-width: 313px) {
    .port__container .left .flex .desc .portfolio__title {
        font-size: 19px;
    }
}

@media screen and (max-width: 309px) {
    .port__container .left .flex .desc p {
        margin: 10px 0;
    }
}

@media screen and (max-width: 301px) {
    .port__container .left .flex .desc .portfolio__title {
        font-size: 18px;
        text-align: left;
    }
}

/*===== PORTFOLIO =====*/
.portfolio__nav {
  text-align: center;
  margin-bottom: var(--mb-3);
}

.portfolio__item {
  margin: 0 var(--mb-2);
  cursor: pointer;
}

.portfolio__content {
  background-color: #FFF;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(174, 190, 205, 0.3);
}

.portfolio__content:hover {
  box-shadow: 0 6px 8px rgba(174, 190, 205, 0.4);
}

.portfolio__content:hover .portfolio__img {
  transform: scale(1.02);
}

.portfolio__img {
  /* width: 100%; */
  transition: .4s;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio__data {
  padding: .5rem;
}

.portfolio__desc {
  font-size: var(--semi-normal-font-size);
  font-weight: var(--font-light);
  color: var(--first-color-dark);
}

.portfolio__title {
  font-family: var(--body-font);
  font-size: var(--regular-font-size);
  color: var(--first-color-dark);
  text-transform: uppercase;
  line-height: 44px;
}

@media screen and (max-width: 800px) {
    .portfolio__title {
        line-height: 25px;
    }
}

.portfolio__subtitle {
  font-size: var(--secondary-font-size);
  color: var(--first-color-dark);
  text-transform: uppercase;
  line-height: 22px;
}

.portfolio__button a {
  cursor: pointer;
  text-decoration: none;
  font-family: var(--secondary-font);
  letter-spacing: 0.4px;
  font-weight: var(--font-medium);
  border: 1px solid #010101;
  padding: 5px 30px;
  font-size: var(--cta-font-size);
  color: var(--first-color-dark);
}

.portfolio__button a:hover {
  background-color: var(--first-color-dark);
  color: var(--first-color-light);
}


.active-portfolio {
  color: var(--first-color-lighten);
}
