
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.glass-container {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: auto;
	width: 33%;
}

.glass-container .glassmorphic-card {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	z-index: 1;
	width: auto;
	height: 450px;
	padding: 40px 20px;
	margin: 28px;
	box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
	/* border-radius: 15px; */
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
	background: rgba(255,255,255,0.1);
	backdrop-filter: blur(5px);
	overflow: hidden;
}

.glass-container .glassmorphic-card:before {
	content: '';
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
	font-size: 10em;
	background: rgba(255,255,255,0);
	pointer-events: none;
}

.glass-container .glassmorphic-card .imgBox {
	position: relative;
	text-align: center;
}

.glass-container .glassmorphic-card .imgBox i {
	font-size: max(60px);
}

.glass-container .glassmorphic-card .contentBox {
	position: relative;
	margin-top: 20px;
	text-align:center;
	transition: 0.5s;
}

.glass-container .glassmorphic-card .contentBox:before {
	content: '';
    position: absolute;
    top: -50px;
    left: -125px;
    width: 100%;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    transform: rotate(-90deg);
    color: rgba(0,0,0,0.2);
}

.glass-container .glassmorphic-card .contentBox a {
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	margin-top: 15px;
	background: var(--first-color-light);
	border-top: 1px solid rgba(255,255,255,0.1);
	border-left: 1px solid rgba(255,255,255,0.1);
	color: #000;
	border-radius: 20px;
	text-decoration: none;
	font-weight: 500;
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.glass-container p {
	z-index: 12;
	margin: 20px auto 10px;
	position: relative;
}

.glass-container p span {
}

.card-1 {
	margin: 40px 10px 40px 0px!important;
}

.card-2 {
	margin: 40px 10px!important;
}

.card-3 {
	margin: 40px 0px 40px 10px!important;
}

/* Neomorphic Card */

.neomorphic-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background: #010101;
}

.neomorphic-container .neomorphic-card {
  width: auto;
  height: auto;
  margin: 28px;
  padding: 40px 20px;
  background: #010101;
  border-radius: 30px;
  box-shadow: -2px -2px 7px rgba(187, 181, 175, 1),
    2px 2px 7px rgba(187, 181, 175, 1);
}

.neomorphic-container .neomorphic-card:hover {
  box-shadow: inset -6px -6px 10px rgba(187, 181, 175, 1),
    inset 6px 6px 20px rgba(187, 181, 175, 1);
}


.neomorphic-container .neomorphic-card .neomorphicBox {
  position: relative;
  margin-top: 20px;
  text-align: center;
}

/* .neomorphic-container .neomorphic-card .neomorphicBox h3 {
  color: #BBB5AF;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.4em;
  text-align: center;
} */

.neomorphic-container .neomorphic-card .neomorphicBox p {
  color: #BBB5AF;
  text-align: center;
	padding: 0 5px;
  text-align: justify;
}

.neomorphic-container .neomorphic-card .neomorphicBox a {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  /* border-radius: 30px; */
  color: #BBB5AF;
  font-size: 16px;
  text-decoration: none;
  box-shadow: -3px -3px 10px rgba(187, 181, 175, 1),
    3px 3px 10px rgba(187, 181, 175, 1)
}

.neomorphic-container .neomorphic-card .neomorphicBox a:hover {
  box-shadow: inset-4px -4px 10px rgba(187, 181, 175, 1),
    inset 4px 4px 10px rgba(187, 181, 175, 1);
}

.neomorphic-container .neomorphic-card .neomorphicBox a:hover span {
  display: block;
  transform: scale(0.98);
}

.neomorphic-container .neomorphic-card:hover .neomorphicBox {
  transform: scale(0.98);
}

.neomorphic-container p {
  z-index: 12;
  margin: 20px auto 10px;
  position: relative;
  color: #BBB5AF;
}

.neomorphic-container p span {
  font-weight: 700;
}
