/* ===== GOOGLE FONTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

/* ===== VARIABLES CSS ===== */
:root {
  --header-height: 3rem;
  /* ===== Colors ===== */
  --first-color: #090707;
  --first-color-light: #FFFFFF;
  --first-color-dark: #000103;
  --text-color: #524748;
  --first-color-grey: #7B6F71;
  --first-color-lighten: #FBF9F9;
  --link-color: #333333;
  --sub-link-color: #585858;
  /* ===== Font and typography ===== */
  --body-font: 'Oswald', sans-serif;
  --biggest-font-size: 4.5rem;
  --h1-font-size: 4rem;
  --h2-font-size: 3rem;
  --h3-font-size: 2.5rem;
  --h4-font-size: 1rem;
  --h5-font-size: 1.1em;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /* ===== Font weight ===== */
  --font-light: 200;
  --font-regular: 300;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  /* ===== Margenes ===== */
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --mb-7: 1.25rem;
  --mb-8: 1.875rem;
  --mb-9: .75rem;
  --mb-10: .50rem;
  --mb-11: .25rem;
  /* ===== z index ===== */
  --z-normal: 1;
  --z-tootip: 10;
  --z-fixed: 100;
  /* ===== Extras ===== */
  --font-profession: 1.8rem;
}

@media screen and (max-width: 768px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-dark);
  color: var(--first-color-light);
  line-height: 1.6;
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
p,
span {
  font-family: 'Poppins';
}

h2,
h3 {
  font-weight: var(--font-semi-bold);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS =====*/
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title--left {
  text-align: left;
  letter-spacing: 4px;
  font-size: var(--h2-font-size);
  color: var(--first-color-light);
}

.section-title--right {
  text-align: right;
  letter-spacing: 8px;
  font-size: var(--h2-font-size);
  color: var(--first-color-light);
}

.section-title {
  font-size: var(--h3-font-size);
  color: var(--first-color-light);
  margin-bottom: var(--mb-4);
  font-weight: var(--font-medium);
}

.section-subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
}

/*===== LAYOUT =====*/
.bd-container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #000;
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding-top: 1.5rem;
    text-align: center;
    background-color: #000;
    transition: .4s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
  }
}

.nav__item {
  margin-bottom: var(--mb-3);
}

.nav__link {
  color: var(--first-color-light);
  font-weight: var(--font-light);
  transition: .3s;
}

.nav__link:hover {
  color: var(--first-color-grey);
}

.nav__logo,
.nav__toggle {}

.nav__logo {
  width: 6.6%;
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: var(--header-height);
}

/* Active menu */
.active-link {
  position: relative;
}

.active-link::after {
  content: '';
  position: absolute;
  bottom: -.4rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--first-color-light);
}

/* Change background header */
.scroll-header {
  background-color: var(--first-color-dark);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle,
.scroll-header .nav__link {
  color: var(--first-color-light);
}

.scroll-header .nav__menu {
  background-color: var(--first-color-dark);
}

/*===== SCROLL TOP =====*/
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  background: rgba(123, 111, 113, 0.7);
  border-radius: .5rem;
  z-index: var(--z-tootip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color);
}

.scrolltop__icon {
  font-size: 2rem;
  color: var(--first-color-lighten);
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/*===== HOME =====*/
.home {
  background-color: #000;
  overflow: hidden;
}

.home__container {
  position: relative;
  height: calc(100vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  align-content: space-around;
  row-gap: 2rem;
}

.home__data {
  border-left: 4px solid var(--first-color-lighten);
  color: var(--first-color-lighten);
  padding-left: 1.5rem;
  z-index: var(--z-tootip);
}

.home__name {
  font-size: var(--h1-font-size);
  font-family: var(--body-font);
  line-height: 40px;
  margin-top: var(--mb-8);
  margin-bottom:var(--mb-11);
  letter-spacing: 1px;
}

.home__greeting,
.home__profession {
  display: block;
  font-size:var(--font-light);
  font-weight: var(--font-medium);
}

.home__greeting {
  font-size: .813rem;
}

.home__profession {
  font-size: var(--font-profession);
  font-weight: var(--font-light);
  margin-bottom: var(--mb-3);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.home__img img {
  width: 240px;
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  font-size: 1.3rem;
  margin-bottom: var(--mb-2);
  color: var(--first-color-lighten);
}

.home__social-icon:hover {
  color: var(--first-color-light);
}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color-dark);
  color: var(--first-color-lighten);
  padding: .75rem 1rem;
  border-radius: .25rem;
  transition: .3s;
}

.button:hover {
  background-color: var(--first-color-dark);
}

.button-light {
  background-color: var(--first-color-light);
}

.button-white {
  background-color: var(--first-color-lighten);
  color: var(--first-color-dark);
}

.button-white:hover {
  background-color: var(--first-color-lighten);
}

.button-link {
  background: none;
  color: var(--first-color-light);
  padding: 0;
}

.button-link:hover {
  background: none;
}

/*===== ABOUT =====*/
.about__data {
  text-align: center;
}

.about__description {
  font-size: var(--h4-font-size);
  font-weight: var(--font-light);
  color: var(--first-color-light);
  line-height: 27px;
}

.about__number {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  display: block;
}

.about__img {
  justify-self: center;
  width: 220px;
  border-radius: .5rem;
}

.about__icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about__hero-parallax .about__hero-title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;

}

.about__hero-parallax .about__hero-title .block {
  width: 0%;
  height: inherit;
  background: var(--first-color-light);
  position: absolute;
  animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
  display: flex;
  height: 50px;
}

.about__hero-parallax h3 {
  color: var(--first-color-light);
  font-size:var(--h3-font-size);
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}

.about__hero-parallax .about__hero-sub-title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;

}

.about__hero-parallax .about__hero-sub-title .block {
  width: 0%;
  height: inherit;
  color: var(--first-color-light);
  position: absolute;
  animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
  animation-delay: 2s;
  display: flex;
  height: 30px;
}

.about__hero-parallax .about__hero-sub-title p {
  animation: secFadeIn 2s forwards;
  animation-delay: 2s;
  opacity: 0;

}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 10;
  }
}

/*===== FADE ANIMATION =====*/

.move {
  animation: move-in 1.8s ease-out;
  --from-x: 0;
  --from-y: 0;
  --from-opacity: 1;
}

.fade-in {
  --from-opacity: 0;
}

.from-top {
  --from-y: -100%;
}

.from-left {
  --from-x: -100%;
}

.from-right {
  --from-x: 100%;
}

@keyframes move-in {
  0% {
    transform: translate(var(--from-x), var(--from-y));
    opacity: var(--from-opacity);
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.line {
  color: var(--first-color-light);
  margin-bottom: var(--mb-4);
  margin-left: var(--mb-2);
  border: 2px solid;
  width: 82%;
}

.line-two {
  color: var(--first-color-light);
  margin-bottom: var(--mb-4);
  margin-left: var(--mb-2);
  border: 2px solid;
  width: 87%;
}

.line-three {
  color: var(--first-color-light);
  margin-bottom: var(--mb-4);
  margin-left: var(--mb-2);
  border: 1px solid;
  width: 75%;
}

.line-four {
  color: var(--first-color-light);
  margin-bottom: var(--mb-4);
  margin-left: var(--mb-2);
  border: 1px solid;
  width: 100%;
}
/*===== ICONS-FADE ANIMATION =====*/

.iconRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.affect {
  font-size: 4vw;
  margin: var(--mb-2);
}

.row-icons .affect {
  color: var(--first-color-light);
}

.iconRow i {
  position: relative;
  opacity: 0;
}

.row-icons i {
  animation: fadeInTwo 6s cubic-bezier(.74, .06, .4, .92) forwards;
}

@keyframes fadeInTwo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 10;
  }
}

/*===== SERVICES =====*/

.services__data {
  padding: 3rem 1rem;
  background-color: #FFF;
  border-radius: .5rem;
  text-align: center;
  transition: .4s;
  box-shadow: 0 4px 6px rgba(174, 190, 205, 0.3);
}

.services__data:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 6px 8px rgba(174, 190, 205, 0.4);
}

.services__icon,
.services__title {
  margin-bottom: var(--mb-2);
  color: var(--first-color);
}

.services__icon {
  font-size: 3rem;
}

.services__title {
  font-size: var(--h2-font-size);
}

.services__description {
  margin-bottom: var(--mb-4);
}

/*===== PORTFOLIO =====*/

.portfolio__hero-parallax .portfolio__hero-title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.portfolio__hero-parallax .portfolio__hero-title .block {
  width: 0%;
  height: inherit;
  background: var(--first-color-light);
  position: absolute;
  animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
  display: flex;
  height: 50px;
}

.portfolio__hero-parallax h2 {
  color: var(--first-color-light);
  font-size: 4rem;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}

.portfolio__hero-parallax .portfolio__hero-sub-title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.portfolio__hero-parallax .portfolio__hero-sub-title .block {
  width: 0%;
  height: inherit;
  color: var(--first-color-light);
  position: absolute;
  animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
  animation-delay: 2s;
  display: flex;
  height: 30px;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 10;
  }
}

.portfolio__nav {
  text-align: center;
  margin-bottom: var(--mb-3);
}

.portfolio__item {
  margin: 0 var(--mb-2);
  cursor: pointer;
}

.portfolio__content {
  background-color: #FFF;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(174, 190, 205, 0.3);
}

.portfolio__content:hover {
  box-shadow: 0 6px 8px rgba(174, 190, 205, 0.4);
}

.portfolio__content:hover .portfolio__img {
  transform: scale(1.02);
}

.portfolio__img {
  width: 100%;
  transition: .4s;
}

.portfolio__data {
  padding: .5rem;
}

.portfolio__subtitle {
  font-size: var(--small-font-size);
  color: var(--first-color-light);
}

.portfolio__title {
  font-size: var(--h5-font-size);
  color: var(--first-color-light);
  margin: var(--mb-2) 0;
}

.active-portfolio {
  color: var(--first-color-lighten);
  /* font-weight: var(--font-semi-bold); */
}

/* Active menu portfolio*/


/*===== CONTACT =====*/

/* .cognito a {
  display: none;
  pointer-events: none;
  text-decoration: none;
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;

}

.cognito .c-html * {
  color: var(--first-color);
  font-size: 24px;
  line-height: 26px;
  width: 100%;
  animation: fadeIn 2s ease-in both;
}

.cognito .c-forms-form .c-forms-confirmation-message {
  color: var(--first-color);
}

.c-forms-form {
  overflow: visible;
  line-height: 1.3em;
  position: relative;
  padding: 3%;
}

.cog-branding--minimal {
  visibility: hidden !important;
  display: none !important;
}

.cog-abuse ul {
  visibility: hidden !important;
  display: none;
}

.cog-cognito hr {
  visibility: hidden !important;
  display: none;
} */

.contactAddy {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  color: #333;
  letter-spacing: 5px;
  cursor: pointer;
  margin-bottom: 40px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  text-align: center;
}

.contactAddy a {
  color: #333;
  letter-spacing: 5px;
  box-sizing: border-box;
  font-family: 'Poppins';
  text-align: center;
}


.contactAddy span {
  transition: 1s;
}

.contactAddy:hover span:nth-child(1) {
  margin-right: 10px;
}

.contactAddy:hover span:nth-child(1):after {
  content: "'";
}

.contactAddy:hover span:nth-child(2) {
  margin-left: 40px;
}

.contactAddy:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #255,
    0 0 110px #255;
}


/*===== FOOTER =====*/

.footer {
  background-color: var(--first-color-dark);
  color: var(--first-color-lighten);
  text-align: center;
}

.footer__container {
  padding: 1rem 0;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-semi-bold);
  display: inline-block;
}

.footer__description {
  margin-bottom: var(--mb-3);
}

.footer__social {
  margin-bottom: var(--mb-6);
}

.footer__logo {
  display: flex;
}

.footer__link {
  font-size: 1.4rem;
  color: var(--first-color-light);
  margin: 0 var(--mb-1);
  transition: .3s;
}

.footer__link:hover {
  color: var(--link-color);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  color: var(--first-color-light);
}

/* For small devices */
@media screen and (max-width: 320px) {
  .home__img img {
    width: 200px;
  }
}

/*====== FOOTER UPDATE =====*/

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #fff;
}

.copyright-text {
  margin: 0;
  font-weight: 500;
  color: var(--first-color-light);
  line-height: 18px;
  margin-top: 4px;
}

.copyright-text a {
  color: var(--sub-link-color);
}

@media (max-width: 991px) {
  .site-footer[class ^=col-] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

.social-icons {
  padding-left: var(--mb-7);
  margin-bottom: var(--mb-1);
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons a {
  background-color: #eceeef;
  color: #000000;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: var(--mb-1);
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #FFFFFF;
  background-color: #333333;
}

.social-icons .size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.linkedin:hover {
  background-color: #333333;
}

.social-icons a.github: hover {
  background-color: #333333;
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

.social-placement {
  text-align: right;
}


/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 576px) {
  .home__img img {
    width: 330px;
  }

  .about__container,
  .qualification__container,
  .services__container,
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__form {
    width: 450px;
    justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 6rem;
  }

  .section-footer {
    padding-top: 3rem;
  }

  .section-title {
    margin-bottom: var(--mb-5);
    font-size: var(--h3-font-size);
    font-family: var(--body-font);
  }

  .section__title--left {
    text-align: left;
  }

  .section__title--right {
    text-align: right;
  }

  .section__title--mobile {
    text-align: center;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    display: flex;
  }

  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .home__container {
    height: 100vh;
    grid-template-rows: max-content .5fr;
    align-content: flex-end;
  }

  .home__profession {
    font-size: var(--font-profession);
    font-weight: var(--font-light);
    margin-bottom: var(--mb-3);
    margin-left: .25rem;
  }

  .home__social {
    flex-direction: row;
    align-items: center;
  }

  .home__social-icon {
    margin-right: var(--mb-4);
    margin-bottom: 0;
  }

  .home__img img {
    width: 420px;
  }

  .about__description {
    text-align: justify;
  }

  .about__img {
    width: 300px;
  }

  .qualification__box {
    display: flex;
    justify-content: space-between;
  }

  .services__container,
  .portfolio__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .project__container {
    padding: 4.5rem 0;
  }

  .project__data {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .project__icon,
  .project__title,
  .project__description {
    margin-bottom: 0;
  }

  .project__icon {
    font-size: 6rem;
  }

  .project__title {
    font-size: 2.5rem;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
  .home__container {
    height: 640px;
  }
}

@media screen and (max-height: 767px) {
  .home__name {
    font-size: 3.7rem;
    line-height: 65px;
  }
}

@media screen and (max-height: 767px) {
  .nav__logo img {
    width: 45px;
  }
}

/* @media screen and (max-height: 608px) {
  .home__name {
    padding: 5% 0;
    font-size: 2.5rem;
    line-height: 55px;
  }
} */

@media screen and (min-height: 540px) {
  .home__img img {
    width: 400px;
  }
}

@media screen and (max-height: 400px) {
  .home__name {
    font-size: 2.5rem;
    line-height: 65px;
  }
}

@media screen and (max-height: 280px) {
  .home__name {
    line-height: 45px;
  }
}

@media screen and (min-width: 1024px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .qualification__container {
    column-gap: 6rem;
  }
}
